/*
Error: Invalid CSS after "  bottom: -": expected expression (e.g. 1px, bold), was ";"
        on line 67 of main.scss

62:   background-color: rgba(0,0,0,0.4);
63:   font-family: Impact;
64:   font-size: 5em;
65:   @include border-radius(2px);
66: 
67:   bottom: -;
68: }
69: 
70: .status-message
71: {
72:   width: 100%;

Backtrace:
main.scss:67
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/lexer.rb:221:in `expected!'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:573:in `assert_expr'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:250:in `unary_minus'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_plus'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `times_div_or_mod'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `plus_or_minus'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `relational'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `eq_or_neq'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `and_expr'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `or_expr'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:361:in `space'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:345:in `interpolation'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:293:in `expr'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:571:in `assert_expr'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:62:in `parse'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1027:in `sass_script'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:880:in `value!'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:753:in `block in try_declaration'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1141:in `call'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1141:in `rethrow'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:766:in `try_declaration'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.13/bin/scss:13:in `<top (required)>'
C:/Ruby22/bin/scss:23:in `load'
C:/Ruby22/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  bottom: -\": expected expression (e.g. 1px, bold), was \";\"\A         on line 67 of main.scss\A \A 62:   background-color: rgba(0,0,0,0.4);\A 63:   font-family: Impact;\A 64:   font-size: 5em;\A 65:   @include border-radius(2px);\A 66: \A 67:   bottom: -;\A 68: }\A 69: \A 70: .status-message\A 71: {\A 72:   width: 100%;"; }
