{% block mail_subject %}mail.subject{% endblock %}

{% block body_html %}
    <html>
        <body>
        {% block mail_text %}
            <p align="center" >
                <a class="small links" href="{{ path('login_action') }}">{{ 'user.sign_in'|trans }}</a> |
                <a class="small links" href="{{ path('login_action') }}">{{ 'user.support'|trans }}</a>
            </p>
        {% endblock %}
        </body>
    </html>
{% endblock %}