{% extends 'IndigoUserBundle:Mail:base.html.twig' %}

{%  block subject %}
    Slaptažodžio priminimas
{% endblock %}

{% block mail_text %}
    pasikeiskit slaptažodį {{ link }}
{% endblock %}

{% block mail_html %}
    pasikeiskit slaptažodį(html) <a href="{{ link }}">Pasikeisti</a>
{% endblock %}
