/* Icns URL's */
/* Colors */
/* Font size */
/* Mixins */
/* line 4, ../../../sass/main.scss */
body {
  min-height: 100%;
  height: 100%;
  font-family: Candara;
  color: white;
  background: #b2b2b2;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #b2b2b2 0%, #474747 39%, #131313 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #b2b2b2), color-stop(39%, #474747), color-stop(100%, #131313));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #b2b2b2 0%, #474747 39%, #131313 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #b2b2b2 0%, #474747 39%, #131313 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #b2b2b2 0%, #474747 39%, #131313 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #b2b2b2 0%, #474747 39%, #131313 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#131313',GradientType=1 );
}

/* line 11, ../../../sass/main.scss */
.dashboard {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(26, 26, 28, 0.9);
  background-image: url("../images/tile.gif");
  background-repeat: repeat;
}

/* line 25, ../../../sass/main.scss */
.title {
  padding-bottom: 30px;
}

/* Field style */
/* line 31, ../../../sass/main.scss */
.field {
  position: relative;
}

/* line 36, ../../../sass/main.scss */
.table-status {
  display: inline-block;
  min-width: 204px;
  width: 30%;
  padding: 2px 2px;
  margin: 2px 0;
  color: #dbdbdb;
  font-size: 2.5em;
  line-height: 40px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 51, ../../../sass/main.scss */
.busy {
  color: #fa4c4e;
}

/* line 56, ../../../sass/main.scss */
.score {
  position: relative;
  display: inline-block;
  min-width: 100px;
  width: 12%;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: Impact;
  font-size: 5em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  bottom: -40px;
}

/* line 70, ../../../sass/main.scss */
.status-message {
  width: 100%;
  font-size: 4em;
  color: white;
  text-align: center;
}

/* line 78, ../../../sass/main.scss */
.field {
  position: relative;
}
/* line 80, ../../../sass/main.scss */
.field .player {
  width: 120px;
  height: 155px;
  background-image: url("../images/player_bg.png");
  background-size: cover;
  -moz-background-size: cover;
  background-position: bottom;
  color: white;
}

/* line 91, ../../../sass/main.scss */
.player p {
  top: -20px;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #dbdbdb;
}

/* line 100, ../../../sass/main.scss */
.player img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  background: url("../images/empty-thumbnail.png") no-repeat center;
  border: solid white 4px;
  box-shadow: 0 0 2px #000000;
}
/* line 109, ../../../sass/main.scss */
.player .bg {
  width: 100%;
  height: auto;
}

/* line 115, ../../../sass/main.scss */
.left-top {
  position: absolute;
  top: -15%;
  left: 25%;
}

/* line 122, ../../../sass/main.scss */
.left-bottom {
  position: absolute;
  bottom: 35%;
  left: 35%;
}

/* line 129, ../../../sass/main.scss */
.right-top {
  position: absolute;
  top: -15%;
  right: 25%;
}

/* line 136, ../../../sass/main.scss */
.right-bottom {
  position: absolute;
  bottom: 35%;
  right: 35%;
}

/* line 143, ../../../sass/main.scss */
.top-space {
  margin-top: 5%;
}

/* line 148, ../../../sass/main.scss */
.time-text {
  font-size: xx-large;
}

@media screen and (max-width: 400px) {
  /* line 155, ../../../sass/main.scss */
  .left-top {
    position: absolute;
    top: -30%;
    left: 15%;
  }

  /* line 162, ../../../sass/main.scss */
  .left-bottom {
    position: absolute;
    bottom: 40%;
    left: 30%;
  }

  /* line 169, ../../../sass/main.scss */
  .right-top {
    position: absolute;
    top: -30%;
    right: 15%;
  }

  /* line 176, ../../../sass/main.scss */
  .right-bottom {
    position: absolute;
    bottom: 40%;
    right: 30%;
  }

  /* line 183, ../../../sass/main.scss */
  .time-text {
    font-size: large;
  }
}
@media screen and (max-width: 600px) {
  /* line 194, ../../../sass/main.scss */
  .field .bg {
    max-width: 400px;
    margin: 0 auto;
  }
  /* line 198, ../../../sass/main.scss */
  .field .player {
    width: 60px;
    height: 75px;
  }

  /* line 204, ../../../sass/main.scss */
  .table-status {
    font-size: 2em;
  }

  /* line 209, ../../../sass/main.scss */
  .time-text {
    font-size: large;
  }
}
@media screen and (min-width: 601px) and (max-width: 799px) {
  /* line 219, ../../../sass/main.scss */
  .field .bg {
    max-width: 600px;
    margin: 0 auto;
  }
  /* line 223, ../../../sass/main.scss */
  .field .player {
    width: 80px;
    height: 100px;
  }

  /* line 229, ../../../sass/main.scss */
  .table-status {
    font-size: 2em;
  }

  /* line 234, ../../../sass/main.scss */
  .status-message {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 800px) {
  /* line 244, ../../../sass/main.scss */
  .field .bg {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1401px) {
  /* line 253, ../../../sass/main.scss */
  .field .bg {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* line 259, ../../../sass/main.scss */
  .left-top {
    position: absolute;
    top: 0%;
    left: 25%;
  }

  /* line 266, ../../../sass/main.scss */
  .left-bottom {
    position: absolute;
    bottom: 40%;
    left: 35%;
  }

  /* line 273, ../../../sass/main.scss */
  .right-top {
    position: absolute;
    top: 0;
    right: 25%;
  }

  /* line 280, ../../../sass/main.scss */
  .right-bottom {
    position: absolute;
    bottom: 40%;
    right: 35%;
  }
}
/* line 288, ../../../sass/main.scss */
.content {
  text-align: center;
}

/* line 292, ../../../sass/main.scss */
.reservation-item {
  vertical-align: top;
  display: inline-block;
  width: 180px;
  min-height: 150px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 5px;
}
/* line 299, ../../../sass/main.scss */
.reservation-item img {
  display: block;
  width: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 304, ../../../sass/main.scss */
.reservation-item .res-title {
  font-size: 1.4em;
  margin: 10px auto;
}
/* line 308, ../../../sass/main.scss */
.reservation-item .res-time {
  font-size: 1.8em;
  margin: 10px auto;
}
/* line 312, ../../../sass/main.scss */
.reservation-item .res-button {
  width: 80%;
  height: 40px;
  margin: 10px auto;
  font-size: 1.4em;
  background-color: transparent;
  border: solid 1px #dbdbdb;
}
/* line 320, ../../../sass/main.scss */
.reservation-item .res-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 326, ../../../sass/main.scss */
.booked {
  background-color: rgba(96, 31, 30, 0.8);
}

/* line 331, ../../../sass/main.scss */
.center {
  text-align: center;
}

/* Dashboard view style */
/* line 338, ../../../sass/main.scss */
.nav {
  height: 100px;
}

/* Image styles  */
/* line 344, ../../../sass/main.scss */
.icon-xs {
  width: 40px;
  height: 40px;
}

/* Image styles  */
/* line 350, ../../../sass/main.scss */
.icon-sm {
  width: 60px;
  height: 60px;
}

/* line 355, ../../../sass/main.scss */
.icon-md {
  width: 80px;
  height: 80px;
}

/* line 360, ../../../sass/main.scss */
.icon-lg {
  width: 100px;
  height: 100px;
}

/* line 365, ../../../sass/main.scss */
.icon-xl {
  width: 140px;
  height: 140px;
}

/* line 370, ../../../sass/main.scss */
.icon-narrow:first-of-type {
  margin-right: -5px;
}

/* line 375, ../../../sass/main.scss */
.icon-narrow:last-of-type {
  margin-left: -5px;
}

/* line 380, ../../../sass/main.scss */
.border-thin {
  border: solid 1px !important;
  border-bottom: white;
}

/* line 385, ../../../sass/main.scss */
.border-wide {
  border: solid 3px !important;
  border-bottom: white;
}

/* bg colors */
/* line 393, ../../../sass/main.scss */
.bg-gold {
  background-color: #cfb53b;
}

/* line 398, ../../../sass/main.scss */
.bg-silver {
  background-color: #c0c0c0;
}

/* line 403, ../../../sass/main.scss */
.bg-bronze {
  background-color: #cd7f32;
}

/* line 408, ../../../sass/main.scss */
.bg-busy {
  background-color: #d54237;
}

/* line 413, ../../../sass/main.scss */
.bg-free {
  background-color: #6eb133;
}

/* line 418, ../../../sass/main.scss */
.bg-green-sl {
  background-color: #92b600;
}

/* line 423, ../../../sass/main.scss */
.bg-green-l {
  background-color: #6f8f00;
}

/* line 428, ../../../sass/main.scss */
.bg-green-m {
  background-color: #617d00;
}

/* line 432, ../../../sass/main.scss */
.bg-green-d {
  background-color: #4a6100;
}

/* line 437, ../../../sass/main.scss */
.bg-orange-l {
  background-color: #f16c00;
}

/* line 442, ../../../sass/main.scss */
.bg-orange-m {
  background-color: #d76100;
}

/* line 446, ../../../sass/main.scss */
.bg-orange-d {
  background-color: #b35100;
}

/* line 451, ../../../sass/main.scss */
.bg-red-l {
  background-color: #fa4c4e;
}

/* line 456, ../../../sass/main.scss */
.bg-red-m {
  background-color: #cc4042;
}

/* line 461, ../../../sass/main.scss */
.bg-red-d {
  background-color: #b73c3e;
}

/* line 466, ../../../sass/main.scss */
.bg-blue-l {
  background-color: #007ea2;
}

/* line 471, ../../../sass/main.scss */
.bg-blue-m {
  background-color: #006b8a;
}

/* line 476, ../../../sass/main.scss */
.bg-blue-d {
  background-color: #005067;
}

/* line 481, ../../../sass/main.scss */
.font-blue-l {
  color: #007ea2;
}

/* line 486, ../../../sass/main.scss */
.font-green-l {
  color: #92b600;
}

/* line 491, ../../../sass/main.scss */
.font-orange-l {
  color: #f16c00;
}

/* line 496, ../../../sass/main.scss */
.bg-color-reserved {
  background-color: rgba(114, 0, 10, 0.4);
}

/* line 501, ../../../sass/main.scss */
.bg-color-not-reserved {
  background-color: rgba(44, 44, 47, 0.4);
}

/* line 507, ../../../sass/main.scss */
.b-color-selected {
  border-color: rgba(255, 252, 249, 0.4) !important;
}

/* line 513, ../../../sass/main.scss */
a {
  color: #ffffff;
}

/* line 517, ../../../sass/main.scss */
a:hover {
  color: #ffffff;
}

/* line 521, ../../../sass/main.scss */
.medal {
  position: absolute !important;
  top: 0;
  right: 5px;
  width: 40px;
  height: 80px;
  z-index: 1000;
}

/* line 531, ../../../sass/main.scss */
.gold-medal-icon {
  background-image: url("../images/gold-medal.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 536, ../../../sass/main.scss */
.silver-medal-icon {
  background-image: url("../images/silver-medal.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 541, ../../../sass/main.scss */
.bronze-medal-icon {
  background-image: url("../images/bronze-medal.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/*  */
/* line 548, ../../../sass/main.scss */
.stat-panel {
  background: transparent !important;
  margin-bottom: 4px !important;
}

/* line 553, ../../../sass/main.scss */
.contest-block {
  height: 300px;
  background-position: bottom;
  background-size: cover;
}

/* line 559, ../../../sass/main.scss */
.info-box {
  float: right;
  width: 50%;
  height: 94%;
  min-height: 94%;
  margin: 1%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.31);
  text-align: center;
  font-family: Candara;
  color: white;
}

/* line 574, ../../../sass/main.scss */
.info-box button,
.info-box label {
  width: 50%;
  min-width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  margin-top: 15%;
  background-color: #6f8f00;
  border: none;
}

/* line 586, ../../../sass/main.scss */
.info-box label {
  font-weight: normal;
}

/* line 590, ../../../sass/main.scss */
.info-box button:hover {
  background-color: #4a6100;
}

@media screen and (max-width: 600px) {
  /* line 595, ../../../sass/main.scss */
  .info-box {
    width: 98%;
  }
}
/* line 600, ../../../sass/main.scss */
.statistic-image {
  position: relative;
  top: 25%;
  width: 40%;
  max-width: 100px;
  border: solid 3px white;
}

/* line 609, ../../../sass/main.scss */
.row .no-gutter {
  margin: 10px 0;
}
/* line 611, ../../../sass/main.scss */
.row .no-gutter [class*='col-']:not(:first-child),
.row .no-gutter [class*='col-']:not(:last-child) {
  padding-right: 4px;
  padding-left: 4px;
}

/* override */
/* line 621, ../../../sass/main.scss */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

/* line 628, ../../../sass/main.scss */
.row {
  margin-left: -2px;
  margin-right: -2px;
}

/* Notifications */
/* line 634, ../../../sass/main.scss */
#not-wrapper {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  text-align: center;
}

/* line 643, ../../../sass/main.scss */
#not-goal-msg,
#not-end-msg {
  display: none;
  position: absolute;
  width: 50%;
  height: 50%;
  margin: auto;
  font-size: 1000%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 653, ../../../sass/main.scss */
#not-end-msg {
  font-size: 500%;
}

/* line 658, ../../../sass/main.scss */
.btn-contest-select {
  background-color: rgba(19, 19, 19, 0.62);
}
